.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 1185px) {
    .photo-grid {
        max-width: 928px;
    }
}

@media screen and (max-width: 933px) {
    .photo-grid {
        margin: 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        gap: 12px;
        margin: 0 16px;
    }
}