.header {
    display: flex;
    justify-content: space-between;
    padding: 28px 48px;
}

/* Этот медиа-запрос добавлен для изменения боковых отступов с 48 на 24px, без него замечание из первой итерации ревью «На 768 Не по макету ширина header», не будет устранени :) */
@media screen and (max-width: 982px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 633px) {
    .header {
        padding: 16px;
    }
}